<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv='X-UA-Compatible' content='IE=edge;chrome=1' />
    <title>Codeage<%= ' - ' + current_article.title unless current_article.nil? %></title>
    <%= feed_tag :atom, "#{blog.options.prefix.to_s}/feed.xml", title: "Atom Feed" %>

    <%= stylesheet_link_tag "all" %>
    <%= stylesheet_link_tag "syntax-highlights" %>
  </head>
  <body>


    <div id="main" role="main">
      <%= partial "partials/nav" %>
      <article>
        <h1><%= current_article.title %></h1>
        <%= yield %>
        <div class="metadata">
          <div class="date"><%= current_article.date.strftime('%b.%e %Y') %></div>
          <%= partial "partials/tags", :locals => { :tags => current_article.tags } %>
        </div>
      </article>

      <ul>
        <li>
          <% prev_article = current_article.previous_article %>
            <% if prev_article %>
            <a href="<%= prev_article.url %>" rel="prev" title="<%= prev_article.title %>"><%= prev_article.title %></a>
            <% end %>
        </li>
        <li>
          <% next_article = current_article.next_article %>
            <% if next_article %>
            <a href="<%= next_article.url %>" rel="next" title="<%= next_article.title %>"><%= next_article.title %></a>
            <% end %>
        </li>
      </ul>

      <%= partial "partials/blog-footer" %>
    </div>

  </body>
</html>
